@model rsl_challenge.Models.LotteryResultsList

@{
    ViewData["Title"] = "RSL Code challenge - CProsser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Welcome to Conn Prosser&rsquo;s code challenge response
</h1> 

<a href="/home/draws" class="btn">View draws</a>
   
