<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndpointRoot" value="https://data.api.thelott.com/sales/vmax/web/data/lotto/" />
    <add key="EndpointLatestResults" value="latestresults" />
    <add key="EndpointOpenDraws" value="opendraws" />
  </appSettings>
</configuration>