body {
    padding-top: 50px;
    padding-bottom: 20px;

}

table {
    padding: 0;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
